# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python virtual environment
.venv/
*.pyc
__pycache__/

# Local development
.env

# Documentation and temporary files
ARCHITECTURE.md
voices/
